.TodoItem {
  background-color: #FAFAFA;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.TodoItem-p {
  margin: 24px 14px 24px 14px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.TodoItem-p--completed {
  text-decoration: line-through;
}

.Icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  /* background-color: #CCC; */
}

.Icon-check {
  height: 36px;
  left: 5px;
  margin: 9px;
  position: relative;
  width: 36px;
}
.Icon-check--active {
  height: 44px;
  left: 5px;
  margin: 5px;
  width: 44px;
}

.Icon-delete {
  height: 40px;
  left: -5px;
  width: 40px;
  position: relative;
}
.Icon-delete:hover {
  color: red;
}
[contenteditable] {
  outline: 0px solid transparent;
}