.InitialState{
    color: #61dafa;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.LoadingState{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5em;
    font-weight: 400;
    color: #61dafa;
    margin-bottom: 20px;
}
.ErrorState{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.Prueba{
    height: 90vh;
    width: 90vw;
}
